<% provide(:title, 'Информация') %>
<div class="center jumbotron">
  <h1>Информация информация информация</h1>
  <p>Куча всего интересного
  <a href="https://sheltered-sands-39553.herokuapp.com/">Что-то о</a> моей красоте</p>
</div>
