<% provide(:title, 'Помощь') %>
<div class="center jumbotron">
  <h1>Помощь</h1>
  <p>
    Спасение в руках утопающего
    <a href="https://sheltered-sands-39553.herokuapp.com/"> бубь</a>
  </p>
</div>
