<footer class="footer">
  <small>
    <a href="https://sheltered-sands-39553.herokuapp.com/">Собственно это приложение</a>
    и <a href="http://rusrails.ru/">Сссылка на Рэйлс по-русски</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "О приложении", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>

</footer>
